build/
obj_dir/
logs/
*.wlf
modelsim.ini
transcript
etch*
sim/stdout/uart
sim/trace_core*.log
.bender
vendor_ips
*.log
*.jou
*.str
.Xil
Bender.lock
__pycache__
sim_build
.venv
.vscode/
Ubuntu_Only/
Archives_Unused/
README_JINWOO_SS2_FPGA.md
syn/didactic.analyze.synopsys.tcl
syn/rtl_files.list
syn/search_path.env
syn/.bender_rtl_files.list
V2_Migration_Improvement/